body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size:1em;
}

#header {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align:center;
}

#header h1 {
  font-size:1.7em;
  margin:0;
}

#header h2 {
  font-size:1em;
  margin:0.5em 0;
}

#search {
  text-align:center;
  margin:1em 0;
}

#searchform {
  margin:0;
}

#index {
  margin:0 auto 1em auto;
  text-align:center;
}

#footer {
  font-size:0.7em;
  text-align:center;
}

/* styles for the passages below */
.chapter-num, .verse-num, .footnote {
  vertical-align: super;
  font-size:0.7em;
}

.esv {
  font-size:1em;
}
