
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
