$font-primary: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-text: 'Libre Baskerville', Georgia, serif;

$color-logo: #ffcc33;
$color-footer: #a9a9a9;

$width-mobile: 320px;
$width-compact: 580px;
$width-max: 580px;

.logo {
  color: $color-logo;
}

/* pads elements so that clicking the element is easier on touch devics */
@mixin padded-click($padding) {
  position: relative;
  &:after{
    padding: $padding;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.padded-click-square-buttons {
  @include padded-click(30px);
}

.padded-click-controls {
  @include padded-click(15px);
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
