$font-primary: 'Open Sans', sans-serif;
$font-text: 'Libre Baskerville', serif;

$color-logo: #ffcc33;
$color-footer: #a9a9a9;

$width-mobile: 320px;
$width-compact: 580px;
$width-max: 580px;

.logo {
  color: $color-logo;
}
