$color-header-menu: #9c9c9c;
$color-header-controls: #bcbcbc;
$color-story-title: #1b1b1b;
$color-story-author: #a9a9a9;
$color-story-text: #1b1b1b;
$color-story-verses: #a9a9a9;
$color-story-call-to-action: #a9a9a9;

.page.story .view {

  /* layout */
  padding: 20px;

  .header {
    position: relative;
    .menu {
      position: absolute;
      left: 0;
    }
    .language {
      position: absolute;
      right: 0;
    }
  }

  .story {
    margin: 0 auto;
    max-width: $width-max;
  }

  /* layout: narrow */
  .header {
    .menu {
      display: block;
    }
    .controls {
      text-align: center;
      .verses-long {
        display: none;
      }
      .verses-short {
        display: inline;
      }
      .audio-label {
        display: none;
      }
    }
  }

  /* layout: wide */
  @media (min-width: $width-compact) {
    .header {
      .menu {
        display: none;
      }
      .controls {
        text-align: left;
        .verses-long {
          display: inline;
        }
        .verses-short {
          display: none;
        }
        .audio-label {
          display: inline;
        }
      }
    }
  }

  html.brokenbrowser & .header, html.no-csstransforms & .header, html.no-mediaqueries & .header {
    .menu {
      display: block;
    }
    .controls {
      text-align: center;
      .verses-long {
        display: none;
      }
      .verses-short {
        display: inline;
      }
      .audio-label {
        display: none;
      }
    }
  }

  /* appearance */
  .header {
    .item {
      cursor: pointer;
      cursor: hand;
    }
    .menu {
      color: $color-header-menu;
      font-size: 1.40em;
    }
    .controls {
      color: $color-header-controls;
      span.control, span.separator {
        font-size: 0.875em;
        margin: 0 3px;
      }
      span.control {
        cursor: pointer;
        cursor: hand;
      }
      span.control.zoom-larger {
        font-size: 1.40em;
      }
    }
    .language {
      color: $color-language;
      .language-selector {
        line-height: 2.0em;
        font-size: 0.875em;
      }
    }
  }

  .story {
    text-align: center;
    .title {
      margin: 27px 0;
      .logo {
        font-size: 1.60em;
        margin: 0.4em 0;
      }
      h1 {
        font-size: 2em;
        color: $color-story-title;
      }
      h2 {
        font-size: 0.8em;
        color: $color-story-author;
        font-weight: 400;
        margin-top: 0.4em;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .text {
      font-family: $font-text;
      font-weight: normal;
      font-size: 1em;
      line-height: 2em;
      color: $color-story-text;
      text-align: justify;
      @media (min-width: $width-compact) {
        text-align: center;
      }
    }
    .call-to-action {
      text-align: center;
      font-size: 0.9em;
      color: $color-story-call-to-action;
      margin: 30px 0;
      a {
        text-decoration: none;
        color: inherit;
      }
      .item {
        margin: 20px 0;
        clear: both;
      }
      .share {
        .addthis_sharing_toolbox {
          width: 275px;
          margin: 0 auto;
          text-align: center;
          a {
            margin: 0 10px;
            font-size: 1.6em;
            i {
              vertical-align: baseline;
            }
          }
        }
      }
      .read-other-accounts {
        .other-accounts {
          margin-top: 4px;
        }
      }
    }
  }

}

/* tracking code on story pages */
.tracking-code {
  display: none;
}

/* no audio */
html.no-audio {
  .page.story .view .header .controls .audio-controls {
    display: none;
  }
}

