.page.story .view .story .text {

  /* esvapi / osisapi */
  .esv, .osis {
    h2 {
      display: none;
    }
    .chapter-num, .verse-num {
      display: none;
    }
    p {
      margin: 2em 0;
    }
    .block-indent {
      margin: 0 2em;
    }
  }
  &.show-verses {
    .esv, .osis {
      .chapter-num, .verse-num {
        display: inline;
        font-weight: 300;
        font-size: smaller;
        color: $color-story-verses;
      }
    }
  }

  /* osisapi */
  .osis {
    .reference {
      font-style: italic;
    }
  }

  /* bibleapi */
  p {
    &.p {
      margin: 2em 0;
    }
    &.q, &.q1 {
      text-indent: 1em;
    }
    &.q2, &.q3 {
      text-indent: 2em;
    }
  }
  .s, .s1, .s2, .v, .r {
    display: none;
  }
  &.show-verses {
    .v {
      display: inline;
      font-weight: 300;
      font-size: smaller;
      color: $color-story-verses;
    }
  }

}
