$color-popup-text: #fff;
$color-popup-background: #111;

.text-highlighted-container {
  display: none;
  .text-highlighted-shell {
    position: relative;
    margin-bottom: 10px;
    .text-highlighted-bubble {
      background-color: $color-popup-background;
      padding: 10px 5px;
      border-radius: 5px;
      color: $color-popup-text;
      a {
        color: $color-popup-text;
        text-decoration: none;
        padding: 10px;
      }
    }
    .text-highlighted-arrow {
      width: 8px;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $color-popup-background;
      text-indent: -9999px;
    }
  }
}