$color-header-menu: #9c9c9c;
$color-header-controls: #bcbcbc;
$color-story-title: #1b1b1b;
$color-story-author: #a9a9a9;
$color-story-text: #1b1b1b;
$color-story-verses: #a9a9a9;
$color-story-call-to-action: #a9a9a9;

.page.story .view {

  /* layout */
  padding: 20px;

  .header {
    position: relative;
    .menu {
      position: absolute;
      left: 0;
    }
  }

  .story {
    margin: 0 auto;
    max-width: $width-max;
    *width:expression(document.body.clientWidth > #{strip-units($width-max)} ? "#{$width-max}" : "auto"); /* sets max-width for IE6 & IE7 */
  }

  /* layout: narrow */
  .header {
    .controls {
      text-align: center;
      .verses-long {
        display: none;
      }
      .audio-label {
        display: none;
      }
    }
  }

  /* layout: wide */
  @media (min-width: $width-compact) {
    .header {
      .menu {
        display: none;
      }
      .controls {
        text-align: left;
        .verses-short {
          display: none;
        }
        .verses-long {
          display: inline;
        }
        .audio-label {
          display: inline;
        }
      }
    }
  }

  /* appearance */
  .header {
    .menu {
      color: $color-header-menu;
      font-size: 1.40em;
      cursor: pointer;
      cursor: hand;
    }
    .controls {
      color: $color-header-controls;
      span {
        font-size: 0.875em;
        margin: 0 3px;
      }
      .control {
        cursor: pointer;
        cursor: hand;
      }
      .zoom-larger {
        font-size: 1.40em;
      }
    }
  }

  .story {
    text-align: center;
    .title {
      margin: 27px 0;
      .logo {
        font-size: 1.60em;
        margin: 0.4em 0;
      }
      h1 {
        font-size: 2em;
        color: $color-story-title;
      }
      h2 {
        font-size: 0.8em;
        color: $color-story-author;
        font-weight: 400;
        margin-top: 0.4em;
        a {
          text-decoration: none;
          color: $color-story-author;
        }
      }
    }
    .text {
      font-family: $font-text;
      font-weight: normal;
      font-size: 1em;
      line-height: 2em;
      color: $color-story-text;
      text-align: justify;
      @media (min-width: $width-compact) {
        text-align: center;
      }
      .esv {
        h2 {
          display: none;
        }
        .chapter-num, .verse-num {
          display: none;
        }
        p {
          margin: 2em 0;
        }
        .block-indent {
          margin: 0 2em;
        }
      }
      &.show-verses {
        .esv {
          .chapter-num, .verse-num {
            display: inline;
            font-weight: 300;
            font-size: smaller;
            color: $color-story-verses;
          }
        }
      }
    }
    .call-to-action {
      text-align: center;
      font-size: 0.9em;
      color: $color-story-call-to-action;
      margin: 30px 0;
      a {
        text-decoration: none;
        color: $color-story-call-to-action;
      }
      .item {
        margin: 20px 0;
      }
      .share {
        font-size: 1.2em;
        .addthis_sharing_toolbox {
          a {
            margin: 0 5px;
          }
        }
      }
    }
  }

}