$color-title: #383838;
$color-description: #a9a9a9;
$color-language-border: #e6e5e6;
$color-language: #d1cccd;
$color-search: #d1cccd;
$color-search-query: #383838;
$color-story-list: #1b1b1b;

.page.index {  
  .header {
    @media (max-width: $width-compact) {
      text-align: center;
      .item {
        margin: 27px 0;
        text-align: center;
      }
      .title {
        font-size: 40em;
        color: $color-title;
        .logo {
          font-size: 0.9em;
          margin-right: 0.2em;
        }
        h1 {
          display:inline;
        }
      }
      .description {
        font-size: 28em;
        color: $color-description;
        h2 {
          display:inline;
        }
      }
      .language {
        margin: 0;
        display:inline-block;
        color: $color-language;
        font-size: 24em;
        padding: 6px;
        border: 2px solid $color-language-border;
        border-radius: 4px;
      }
    }
    @media (min-width: $width-compact) {
      .item {
        position: absolute;
        top: 5px;
        font-size: 24em;
        margin-top: 5px;
      }
      .title {
        left: 40px;
        color: $color-title;
        .logo {
          font-size: 0.9em;
          margin-right: 0.2em;
        }
        h1 {
          display:inline;
        }
        height: 40px;
        line-height: 40px;
      }
      .description {
        width: 100%;
        text-align: center;
        color: $color-description;
        h2 {
          display:inline;
        }
        height: 40px;
        line-height: 40px;
      }
      .language {
        right: 40px;
        display:inline-block;
        height: 40px;
        .current {
          margin-top: 4px;
          display:inline-block;
          color: $color-language;
          padding: 6px;
          border: 2px solid $color-language-border;
          border-radius: 4px;
        }
      }
    }
  }

  .search {
    @include search($width-max, $color-search, $color-search-query, 40em);
    padding: 0 40px;
    @media (max-width: $width-compact) {
      margin: 60px 0 60px 0;
    }
    @media (min-width: $width-compact) {
      margin: 210px 0 60px 0;
    }
  }

  .stories {
    font-size: 40em;
    text-align: center;
    color: $color-story-list;
    margin: 60px 0;
    .story {
      margin: 30px 0;
      a {
        color: $color-story-list;
        text-decoration: none;
      }
    }
  }
}

