$color-title: #383838;
$color-description: #a9a9a9;
$color-language-border: #e6e5e6;
$color-language: #d1cccd;
$color-search: #d1cccd;
$color-search-query: #383838;
$color-story-list: #1b1b1b;

.page.index {
  .header {
    text-align: center;
    .item {
      margin: 27px 0;
      text-align: center;
    }
    .title {
      font-size: 40em;
      color: $color-title;
      .logo {
        font-size: 0.9em;
        margin-right: 0.2em;
      }
      h1 {
        display:inline;
      }
    }
    .description {
      font-size: 28em;
      color: $color-description;
      h2 {
        display:inline;
      }
    }
    .language {
      margin: 0;
      display:inline-block;
      color: $color-language;
      font-size: 24em;
      padding: 6px;
      border: 2px solid $color-language-border;
      border-radius: 4px;
    }
  }

  .search {
    @include search($width-mobile - 40px, $color-search, $color-search-query, 40em);
  }

  .stories {
    font-size: 40em;
    text-align: center;
    color: $color-story-list;
    .story {
      margin: 30px 0;
      a {
        color: $color-story-list;
        text-decoration: none;
      }
    }
  }
}

