$font-primary: 'Open Sans', sans-serif;

$color-logo: #ffcc33;
$color-footer: #a9a9a9;

$width-mobile: 320px;
$width-max: 580px;

body {
  font-family: $font-primary;
  font-size: 0.5pt;
  font-weight: 600;
}

.logo {
  color: $color-logo;
}

@mixin search($width, $color, $color-query, $font-size) {
  border-bottom: 2px solid $color;
  max-width: $width;
  margin: 40px auto 50px auto;
  form {
    position: relative;
    .query {
      width: 90%;
      outline: none;
      border: none;
      padding: 0;
      font-size: $font-size;
      color: $color-query;
      background-color: transparent;
    }
    .fa-search {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: $font-size;
      color: $color;
      line-height: 140%;
    }
    ::placeholder {
       color: $color;
    }
  }
}

.footer {
  max-width: $width-max;
  font-size: 20em;
  font-weight: 400;
  line-height: 1.2em;
  color: $color-footer;
  text-align: center;
  margin: 0 auto;
  div {
    margin: 10px 0;
  }
  a {
    color: $color-footer;
  }
}