$color-side-menu-background: #3a3a3a;
$color-side-menu-close: #646464;
$color-side-menu-title-background: #2a2a2a;
$color-side-menu-title: #dedede;
$color-side-menu-search: #6f6f6f;
$color-side-menu-search-query: #fff;
$color-side-menu-share-background: #323232;
$color-side-menu-share-icon: #646464;
$color-side-menu-stories-story: #777777;
$color-side-menu-stories-story-current: #dedede;

$width-side-menu: 300px;
$width-side-menu-tease: 60px;

.side-menu-container {

  .side-menu {
    display: block;
  }

  /* hint for hardware acceleration */
  .side-menu, .side-menu-view-container {
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  /* off canvas side-menu animation */
  .side-menu {
    position: fixed;
    top: 0;
    left: -$width-side-menu;
    z-index: 2;
    width: $width-side-menu;
    height: 100%;
    overflow: hidden;
    transition: .3s ease all;
    @media (max-width: $width-compact) {
      transform: translateX(0);
    }
    @media (min-width: $width-compact) {
      transform: translateX($width-side-menu-tease);
    }
  }
  .side-menu-view-container {
    transition: .3s ease all;
    @media (max-width: $width-compact) {
      margin-left: 0;
    }
    @media (min-width: $width-compact) {
      margin-left: $width-side-menu-tease;
    }
  }
  &.showing-side-menu {
    .side-menu {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      transform: translateX($width-side-menu);
      .close {
        @media (max-width: $width-compact) {
          display: none;
        }
      }
    }
    .side-menu-view-container {
      @media (max-width: $width-compact) {
        transform: translateX($width-side-menu);
      }
      @media (min-width: $width-compact) {
        margin-left: $width-side-menu;
      }
    }
  }

  /* side menu */
  .side-menu {
    background-color: $color-side-menu-background;
    .item {
      padding: 20px;
      font-size: 1.1em;
    }
    .title {
      text-align: center;
      background-color: $color-side-menu-title-background;
      a {
        color: $color-side-menu-title;
        text-decoration: none;
        h1 {
          display:inline;
        }
      }
      .logo {
        font-size: 0.9em;
      }
      .close {
        font-size: 1.2em;
        float: right;
        color: $color-side-menu-close;
        cursor: pointer;
        cursor: hand;
      }
    }
    .share-pointer {
      position: absolute;
      top: 79px;
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
      text-indent: -9999px;
    }
    .share {
      background-color: $color-side-menu-share-background;
      .addthis_sharing_toolbox {
        display: block;
        width: 250px;
        margin: 0 auto;
        a {
          margin: 0 27px 0 0;
          font-size: 1.2em;
          color: $color-side-menu-share-icon;
          text-decoration: none;
          outline: none;
        }
      }
    }
    .search {
      @include search($width-side-menu - 50px, $color-side-menu-search, $color-side-menu-search, 1.1em);
    }
    .stories {
      text-align: center;
      .story {
        margin: 0 0 25px 0;
        a {
          font-size: 0.94em;
          color: $color-side-menu-stories-story;
          text-decoration: none;
          &:hover {
            color: $color-side-menu-stories-story-current;
          }
        }
        .bible_ref {
          color: $color-side-menu-stories-story;
          font-size: 0.56em;
          margin: 5px 0;
        }
      }
      .story.current {
        a {
          color: $color-side-menu-stories-story-current;
        }
        .marker {
          font-size: 0.94em;
          color: $color-logo;
          padding-left: 5px;
        }
      }
    }
  }

  &:not(.showing-side-menu) {
    .side-menu {
      .share {
        .addthis_button_more {
          position: relative;
          left: 20px;
        }
      }
      .search {
        form {
          border: 0;
          .icon-search {
            right: -4px;
            cursor: pointer;
            cursor: hand;
          }
        }
      }
      .stories {
        display: none;
      }
    }
  }

}