$color-header-menu: #9c9c9c;
$color-header-controls: #bcbcbc;
$color-story-title: #1b1b1b;
$color-story-author: #a9a9a9;
$color-story-text: #1b1b1b;

/* layout */
.page.story .view {
  padding: 20px;
  .header {
    position: relative;
    .menu {
      position: absolute;
      left: 0;
    }
  }

  .story {
    max-width: $width-max;
    margin: 0 auto;
  }
}

/* layout: wide */
@media (min-width: $width-compact) {
  .page.story .view .header {
    .menu {
      display: none;
    }
    .controls {
      text-align: left;
    }
  }
}

/* layout: narrow */
@media (max-width: $width-compact) {
  .page.story .view .header {
    .controls {
      text-align: center;
      .audio-label {
        display: none;
      }
    }
  }
}

/* appearance */
.page.story .view {
  .header {
    .menu {
      color: $color-header-menu;
      font-size: 1.40em;
      cursor: pointer;
      cursor: hand;
    }
    .controls {
      color: $color-header-controls;
      span {
        font-size: 0.875em;
        margin: 0 3px;
      }
      .control {
        cursor: pointer;
        cursor: hand;
      }
      .zoom-larger {
        font-size: 1.40em;
      }
    }
  }

  .story {
    text-align: center;
    .title {
      margin: 27px 0;
      .logo {
        font-size: 1.60em;
        margin: 0.4em 0;
      }
      h1 {
        font-size: 2em;
        color: $color-story-title;
      }
      h2 {
        font-size: 0.8em;
        color: $color-story-author;
        font-weight: 400;
        margin-top: 0.4em;
      }
    }
    .text {
      font-family: $font-text;
      font-weight: normal;
      font-size: 1em;
      color: $color-story-text;
      @media (max-width: $width-compact) {
        text-align: justify;
      }
      @media (min-width: $width-compact) {
        text-align: center;
      }
      .esv {
        h2, .chapter-num, .verse-num {
          display: none;
        }
        p {
          margin: 2em 0;
          line-height: 1.6em;
        }
        .block-indent {
          margin: 0 2em;
        }
      }
    }
  }
}