$color-header-menu: #9c9c9c;
$color-header-controls: #bcbcbc;
$color-story-title: #1b1b1b;
$color-story-text: #1b1b1b;

$color-side-menu-background: #3a3a3a;
$color-side-menu-close: #646464;
$color-side-menu-title-background: #2a2a2a;
$color-side-menu-title: #dedede;
$color-side-menu-search: #6f6f6f;
$color-side-menu-search-query: #fff;
$color-side-menu-share-background: #323232;
$color-side-menu-share-icon: #646464;
$color-side-menu-stories-story: #777777;
$color-side-menu-stories-story-current: #dedede;

$width-side-menu: 300px;
$width-tease-menu: 70px;
$width-compact: 580px;

/* hint for hardware acceleration */
.page.story {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* off canvas side-menu animation */
.page.story {
  .side-menu {
    position: fixed;
    top: 0;
    left: -$width-side-menu;
    z-index: 2;
    width: $width-side-menu;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
  .content {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    @media screen and (min-width: $width-compact) {
      margin-left: 0;
    }
  }
  &.showing-side-menu {
    .side-menu {
      -webkit-transform: translateX($width-side-menu);
      transform: translateX($width-side-menu);
    }
    @media screen and (max-width: $width-compact) {
      .tease-menu {
        -webkit-transform: translateX(-$width-tease-menu);
        transform: translateX(-$width-tease-menu);
      }
    }
    .content {
      @media screen and (max-width: $width-compact) {
        -webkit-transform: translateX($width-side-menu);
        transform: translateX($width-side-menu);
      }
      @media screen and (min-width: $width-compact) {
        margin-left: $width-side-menu;
      }
    }
  }
}

/* thin tease menu */
.page.story {
  @media screen and (min-width: $width-compact) {
    .tease-menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: $width-tease-menu;
      height: 100%;
      background-color: $color-side-menu-background;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: .3s ease all;
      transition: .3s ease all;
    }
    .content {
      margin-left: $width-tease-menu;
    }
  }
  @media screen and (max-width: $width-compact) {
    .tease-menu {
      -webkit-transform: translateX(-$width-tease-menu);
      transform: translateX(-$width-tease-menu);
    }
  }
}

.page.story {
  /* side menu */
  .side-menu {
    background-color: $color-side-menu-background;
    .item {
      padding: 25px;
    }
    .logo {
      position: absolute;
      top: 27px;
      left: 55px;
      font-size: 27em;
    }
    .close {
      position: absolute;
      top: 16px;
      right: 20px;
      color: $color-side-menu-close;
      font-size: 56em;
      cursor: pointer;
      cursor: hand;
    }
    .title {
      text-align: center;
      font-size: 30em;
      background-color: $color-side-menu-title-background;
      a {
        color: $color-side-menu-title;
        text-decoration: none;
        h1 {
          display:inline;
        }
      }
    }
    .share-pointer {
      position: absolute;
      top: 98px;
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
    }
    .share {
      background-color: $color-side-menu-share-background;
      .addthis_sharing_toolbox {
        height: 32px;
        display: block;
        width: 250px;
        height: 32px;
        margin: 0 auto;
        a {
          margin: 0 24px 0 0;
          font-size: 44em;
          color: $color-side-menu-share-icon;
          text-decoration: none;
        }
      }
    }
    .search {
      @include search($width-side-menu - 50px, $color-side-menu-search, $color-side-menu-search, 30em);
      padding: 0;
      margin: 40px auto 10px auto;
    }
    .stories {
      text-align: center;
      font-size: 30em;
      .story {
        margin: 25px 0;
        a {
          color: $color-side-menu-stories-story;
          text-decoration: none;
        }
        a:hover {
          color: $color-side-menu-stories-story-current;
        }
      }
      .story.current {
        a {
          color: $color-side-menu-stories-story-current;
        }
        .marker {
          color: $color-logo;
        }
      }
    }
  }

  /* tease menu */
  .tease-menu {
    background-color: $color-side-menu-background;
    .item {
      padding: 25px;
    }
    .close {
      position: absolute;
      top: 16px;
      right: 20px;
      color: $color-side-menu-close;
      font-size: 56em;
      cursor: pointer;
      cursor: hand;
    }
    .share-pointer {
      position: absolute;
      top: 98px;
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
    }
  }

  /* primary content */
  .content {
    padding: 20px;
    .header {
      margin: 0 auto;
      position: relative;
      height: 56em;
      line-height: 56em;
      .item {
      }
      .menu {
        position: absolute;
        left: 0;
        color: $color-header-menu;
        font-size: 56em;
        cursor: pointer;
        cursor: hand;
        @media screen and (min-width: $width-compact) {
          display:none;
        }
      }
      .controls {
        @media screen and (max-width: $width-compact) {
          text-align: center;
        }
        @media screen and (min-width: $width-compact) {
          text-align: left;
        }
        color: $color-header-controls;
        span {
          font-size: 28em;
          margin: 0 3px;
        }
        .control {
          cursor: pointer;
          cursor: hand;
        }
        .zoom-larger {
          font-size: 45em;
        }
        .audio-label {
          @media screen and (max-width: $width-compact) {
            display:none;
          }
        }
      }
      .language {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $color-language;
        font-size: 28em;
        line-height: 1em;
        padding: 6px;
        border: 2px solid $color-language-border;
        border-radius: 4px;
        cursor: pointer;
        cursor: hand;
      }
    }

    .story {
      max-width: $width-max;
      margin: 0 auto;
      text-align: center;
      .title {
        margin: 27px 0;
        font-size: 40em;
        color: $color-story-title;
        .logo {
          font-size: 0.9em;
          margin: 0.4em 0;
        }
      }
      .text {
        font-family: 'Libre Baskerville', serif;
        font-weight: normal;
        font-size: 26em;
        color: $color-story-text;
        @media screen and (max-width: $width-compact) {
          text-align: justify;
        }
        @media screen and (min-width: $width-compact) {
          text-align: center;
        }
        .esv {
          h2, .chapter-num, .verse-num {
            display: none;
          }
          p {
            margin: 2em 0;
            line-height: 1.6em;
          }
          .block-indent {
            margin: 0 2em;
          }
        }
      }
    }
  }
}