/* CSS for IE 6 & IE 7 */

$width-side-menu: 300px;

@import '../fonts/fontello/stylesheet-ie';
@import '_03.common';

.search-box {
  form {
    .query {
      background-color: #eee;
    }
  }
}

.page.story {
  .view {
    .story {
      /* sets max-width */
      width:expression(document.body.clientWidth > #{strip-units($width-max)} ? "#{$width-max}" : "auto");

      /* defaults to narrow style but looks funny justified on larger screens, so set to centered */
      .text {
        text-align: center;
      }
    }
  }
}