/* CSS for IE 6 & IE 7 */

$width-side-menu: 300px;

@import '../fonts/fontello/stylesheet-ie';
@import '_04.common';

.page.story {

  .view {

    /* share pointer doesn't display properly */
    .side-menu {
      .share-pointer {
        display: none;
      }
    }

    /* audio doens't work */
    .header {
      .controls {
        .audio-controls {
          display: none;
        }
      }
    }

    .story {
      /* sets max-width */
      *width:expression(document.body.clientWidth > #{strip-units($width-max)} ? "#{$width-max}" : "auto");

      /* defaults to narrow style but looks funny justified on larger screens, so set to centered */
      .text {
        text-align: center;
      }
    }
  }
}

/* simplifying the side menu */
.side-menu-container {

  .side-menu {
    position: absolute;
    top: 0;
    left: -#{$width-side-menu};
    
    /* share pointer doesn't display properly */
    .share-pointer {
      display: none;
    }
  }

  &.showing-side-menu {
    .side-menu {
      left: 0;
      overflow: hidden;
    }
  }
}