$color-side-menu-background: #3a3a3a;
$color-side-menu-close: #646464;
$color-side-menu-title-background: #2a2a2a;
$color-side-menu-title: #dedede;
$color-side-menu-search: #6f6f6f;
$color-side-menu-search-query: #fff;
$color-side-menu-share-background: #323232;
$color-side-menu-share-icon: #646464;
$color-side-menu-stories-story: #777777;
$color-side-menu-stories-story-current: #dedede;

$width-side-menu: 300px;
$width-side-menu-tease: 70px;

/* hint for hardware acceleration */
.page.story {
  .side-menu, .content {
    transform: translateZ(0);
    backface-visibility: hidden;
  }
}

/* off canvas side-menu animation */
.page.story {
  .side-menu {
    position: fixed;
    top: 0;
    left: -$width-side-menu;
    z-index: 2;
    width: $width-side-menu;
    height: 100%;
    overflow: hidden;
    @media (max-width: $width-compact) {
      transform: translateX(0);
    }
    @media (min-width: $width-compact) {
      transform: translateX($width-side-menu-tease);
    }
    transition: .3s ease all;
  }
  .content {
    transition: .3s ease all;
    @media (max-width: $width-compact) {
      margin-left: 0;
    }
    @media (min-width: $width-compact) {
      margin-left: $width-side-menu-tease;
    }
  }
  &.showing-side-menu {
    .side-menu {
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      transform: translateX($width-side-menu);
    }
    .content {
      @media (max-width: $width-compact) {
        transform: translateX($width-side-menu);
        .header {
          .menu {
            display: none;
          }
        }
      }
      @media (min-width: $width-compact) {
        margin-left: $width-side-menu;
      }
    }
  }
}

.page.story {
  /* side menu */
  .side-menu {
    background-color: $color-side-menu-background;
    .item {
      padding: 25px;
    }
    .logo {
      position: absolute;
      top: 27px;
      left: 55px;
      font-size: 0.85em;
    }
    .close {
      position: absolute;
      top: 16px;
      right: 20px;
      color: $color-side-menu-close;
      font-size: 1.75em;
      cursor: pointer;
      cursor: hand;
    }
    .title {
      text-align: center;
      font-size: 0.94em;
      background-color: $color-side-menu-title-background;
      a {
        color: $color-side-menu-title;
        text-decoration: none;
        h1 {
          display:inline;
        }
      }
    }
    .share-pointer {
      position: absolute;
      top: 98px;
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #fff;
    }
    .share {
      background-color: $color-side-menu-share-background;
      .addthis_sharing_toolbox {
        height: 32px;
        display: block;
        width: 250px;
        height: 32px;
        margin: 0 auto;
        a {
          margin: 0 24px 0 0;
          font-size: 1.375em;
          color: $color-side-menu-share-icon;
          text-decoration: none;
          outline: none;
        }
      }
    }
    .search {
      @include search($width-side-menu - 50px, $color-side-menu-search, $color-side-menu-search, 0.94em);
      padding: 0;
      margin: 40px auto 10px auto;
    }
    .stories {
      text-align: center;
      .story {
        margin: 25px 0;
        a {
          font-size: 0.94em;
          color: $color-side-menu-stories-story;
          text-decoration: none;
          &:hover {
            color: $color-side-menu-stories-story-current;
          }
        }
        .bible_ref {
          color: $color-side-menu-stories-story;
          font-size: 0.56em;
          margin: 5px 0;
        }
      }
      .story.current {
        a {
          color: $color-side-menu-stories-story-current;
        }
        .marker {
          font-size: 0.94em;
          color: $color-logo;
          padding-left: 5px;
        }
      }
    }
  }
  &:not(.showing-side-menu) {
    .side-menu {
      .share {
        .addthis_button_more {
          position: relative;
          left: 10px;
        }
      }
      .search {
        form {
          border: 0;
          .fa-search {
            right: -4px;
            font-size: 1.375em !important;
            cursor: pointer;
            cursor: hand;
          }
        }
      }
      .stories {
        display: none;
      }
    }
  }
}