<% content_for :body_class do %>page-pitch<% end %>


<div class="margin">
  <div class="content">


<p>I'm addressing the challenge, to make the bible more <b>accessible and shareable in China</b>.</p>

<p>I've done it with greatstoriesofthebible.org.</p>

    <b style="text-decoration: underline;font-weight:bold">accessible in China</b>

<p>greatstoriesofthebible.org is quick access to short stories in the bible. It leads people to great starting points, and a good scope for how much to read. If you want to read the Bible and don't know where to start or how much to read, or don't know where to find a story, they are blockers that get in between you and reading. greatstoriesofthebible.org solves this problem.</p>

<p>greatstoriesofthebible.org uses three APIs to pull both text and audio for the short stories in English, Spanish and Simplified Chinese. It does this using the Crossway API's for English text and audio, and uses the two sponsor APIs, Bibles.org and Digital Platform Bible for non-English text and audio. For English the audio played is exactly the short story and not the entire chapters, and for non-English it’s estimated.</p>

<p>
User Scenarios:
<ul><li>1. need to find a particular story</li>
  <li>- search google.com for 'bible stories' (18k visits a month)</li>
  <li>- click greatstoriesofthebible.org</li>
  <li>- search 'red sea'</li>
  <li>- click 'the red sea'</li>
  <li>- read</li>
  <li>- listen</li>
  <li>- do chinese</li>
</ul>
</p>

    <b style="text-decoration: underline;font-weight:bold">Shareable</b>

<p>I want to speak to shareability.</p>

    <p>
    <ul>
      <li>- share qzone, sina weibo, kaixin repaste</li>
    </ul>
    </p>

<p>Put up your hand if you have, or you’ve seen someone post a Bible verse on FB? Now put up your hand if you’ve seen someone post an entire Bible story on FB? Why is this? We post links to longer form articles and blogs, so long form isn't the problem. It’s just the relationship we have to linking to a chunk of text vs linking to a story, and I think greatstoriesofthebible.org will change that.</p>



</div></div>