/* fonts */
body {
  font-family: "soleil", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.2em;
  line-height: normal;
}

.story-passage {
  font-family: "chaparral-pro", Georgia, serif;
  font-size: 1em;
}

@media only screen and (max-device-width: 360px) {
  body {
    font-size: 1em;
  }

  .story-passage {
    font-size: 1.2em;
  }
}

/* colors */
body {
  color: #333;
}

.header a {
  color: #333;
}

a {
  color: #00f;
}



.languages li a,
.story-text-smaller,
.story-text-larger,
.story-text-listen,
.story-navigationbottom a,
.footer,
.footer a {
  color: #d3d3d3;
}

.story-passage .highlightable:hover {
  background-color: #FFFFC5;
}

/* links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header a,
.story-passage-heading a {
  text-decoration: none;
}

.footer a {
  text-decoration: underline;
}

/* styles */

body {
  padding-top: 6px;
}

.margin {
  margin: 1em 5%;
}

.content {
  margin: 0 auto;
  max-width: 600px;
}

p {
  margin: 1em 0;
  padding: 0;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.header h1 .part {
  white-space: nowrap;
}

.header h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}

.header h2 .part {
  white-space: nowrap;
}

.page-story .header {
  display: none;
}

.languages li {
  display: inline;
  font-size:0.8em;
}

.index-search {
  text-align: center;
  margin: 1em 0;
}

.index-searchform {
  margin: 0;
}

.index-searchnoresults {
  display: none;
  font-size: 0.8em;
}

.index-table {
  margin: 0 auto 1em auto;
  text-align: center;
}

.index-text {
  font-size: 0.8em;
}

.footer {
  font-size: 0.7em;
  text-align: center;
}

/* styles for the story page only */
.story-passage-heading {
  text-align: center;
}

.story-passage-heading h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.story-passage-heading h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.story-passage-heading .story-passage-bar {
  height: 30px;
}

.story-passage {
  margin: 0 auto;
  width: 100%;
  text-align: justify;
}

.story-passage-bible-ref {
  white-space: nowrap;
}

.story-navigationtop {
  text-align: center;
  font-size: 1em;
  margin: 0 0 1.3em 0;
}

.story-text-smaller {
  font-size: 0.75em;
}

.story-text-larger {
  font-size: 1.25em;
}

.story-text-listen {
  font-size: 0.75em;
}

.story-text-audio-player audio {
  display: block;
  margin: 0 auto;
  width: 280px;
}

.story-navigationbottom {
  text-align: center;
  font-size: 0.9em;
  margin: 1em 0;
}

.story-navigationbottom a {
  display: block;
  margin: 0.4em 0;
}

.sharebox {
  display: block;
  width: 180px;
  height: 32px;
  margin:0 auto;
}

.sharebox a {
  opacity: 0.333;
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(90%); /* Current draft standard */
  -webkit-filter: grayscale(90%); /* New WebKit */
  -moz-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  -o-filter: grayscale(90%);
  filter: gray; /* IE6+ */
}

.sharebox a:hover {
  opacity: 1.0;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
}