/* CSS for IE 6 & IE 7 & IE 8 */

@import '_02.common.scss';

$width-search: $width-max - 200;
$width-side-menu: 300px;

.page.index {
  .view {
    .search {
      .search-box {
        /* sets max-width */
        width: expression((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) > #{strip-units($width-search)} ? "#{$width-max}" : "auto");
      }
    }
  }
}

.page.story {
  .view {
    .story {
      /* sets max-width */
      width: expression((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) > #{strip-units($width-max)} ? "#{$width-max}" : "auto");

      /* defaults to narrow style but looks funny justified on larger screens, so set to centered */
      .text {
        text-align: expression((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) > #{strip-units($width-max)} ? "center" : "justify");
      }
    }
  }
}
