:ruby
  alternate = {}
  settings.deployments.each do |deployment|
    deployment.locales.each do |locale|
      alternate[locale] = "#{deployment.base_url(locale: locale)}/api/stories"
    end
  end

  response = {
    :alternate => alternate,
    :data => Stories.all
  }
  response_json = response.to_json({
    locale: I18n.locale, 
    base_url: settings.deployment.base_url(locale: I18n.locale),
    base_url_short: settings.deployment.base_url_short(locale: I18n.locale)
  })
= JSON.pretty_generate(JSON.parse(response_json))
