---
layout: ./_layout.njk
pageclasses: x404
---

<div class="heading">{{ t.page_not_found }}</div>
<div class="description">{{ t.page_not_found_description | safe }}</div>
<a href="{{ base_url }}">
  <div class="title">
    <i class="logo icon-leaf"></i>
    <span>{{ t.title }}</span>
  </div>
</a>
