---
layout: ./_layout.njk
pageclasses: why
url: /en/about.html
---

<div class="header">
  <div class="item title"><i class="logo icon-leaf"></i> <h1>Bible Stories</h1></div>
</div>

<div class="why-great-stories">
  <p>Have you seen someone share a Bible verse? Probably.</p>
  <p>Have you seen someone share an entire Bible story? Maybe not.</p>
  <p>Why is this?</p>
  <p>We share links to long form articles everyday. It's the relationship we have to linking to a chunk of text vs linking to a story. We share verses as an intellectual exercise, but the Bible is about people and God, characters and their relationships.</p>
  <p>Bible Stories presents the bible as short stories.</p>
  </p>
</div>

<div class="call-to-action">
  <a href="/">Jump in, read and share.</a>
</div>

<div class="footer">
  {% if t.en.created_by %}<div><!--sse-->{{ t.en.created_by | safe }}<!--/sse--></div>{% endif %}
</div>
