.language-selector
  %select
    - settings.locales.each do |locale|
      %option{:value=>locale.to_s, :selected=>locale==I18n.locale}
        = t(:language, locale: locale)
  %i.icon-globe= icon(:globe)