.addthis_sharing_toolbox.addthis_default_style.addthis_32x32_style
  - case I18n.locale
  - when :en
    %a.addthis_button_facebook
      %i.icon-facebook.padded-click-square-buttons
    %a.addthis_button_twitter
      %i.icon-twitter.padded-click-square-buttons
    %a.addthis_button_tumblr
      %i.icon-tumblr.padded-click-square-buttons
    %a.addthis_button_email
      %i.icon-mail-alt.padded-click-square-buttons
    %a.addthis_button_more
      %i.icon-export-alt.padded-click-square-buttons