.side-menu
  .item.title
    %i.close.toggle-side-menu.icon-menu
    %i.logo.icon-leaf
    %a{:href=>"../"}
      %h1= t(:title)
  %i.share-pointer.fa.fa-caret-left
  .item.share
    .addthis_sharing_toolbox.addthis_default_style.addthis_32x32_style
      - case I18n.locale
      - when :en
        %a.addthis_button_facebook
          %i.icon-facebook
        %a.addthis_button_twitter
          %i.icon-twitter
        %a.addthis_button_tumblr
          %i.icon-tumblr
        %a.addthis_button_email
          %i.icon-mail-alt
        %a.addthis_button_more
          %i.icon-export-alt
  .item.search
    .search-box
      %form
        %input.query{:type=>"text", :placeholder=>t(:search_placeholder_side_menu)}
        %i.toggle-side-menu-and-search.icon-search
  .item.stories
    - Stories.all.each do |_, story|
      .story{:class => ("current" if story.short_url == active_story.short_url), :data => story.as_json}
        %a{:href=>"../#{story.short_url}/"}= story.title
        - if story.short_url == active_story.short_url
          %i.marker.fa.fa-leaf
        .bible_ref= story.bible_ref