.side-menu
  .item.title
    %i.close.fa.fa-bars.toggle-side-menu
    %i.logo.fa.fa-leaf
    %a{:href=>"../"}
      %h1= t(:title)
  %i.share-pointer.fa.fa-caret-left
  .item.share
    .addthis_sharing_toolbox.addthis_default_style.addthis_32x32_style
      - case I18n.locale
      - when :en
        %a.addthis_button_facebook
          %i.fa.fa-facebook
        %a.addthis_button_twitter
          %i.fa.fa-twitter
        %a.addthis_button_tumblr
          %i.fa.fa-tumblr
        %a.addthis_button_email
          %i.fa.fa-envelope
        %a.addthis_button_more
          %i.fa.fa-share-square
  .item.search
    %form
      %input.query{:type=>"text", :placeholder=>t(:search_placeholder_side_menu)}
      %i.toggle-side-menu-and-search.fa.fa-search
  .item.stories
    - Stories.all.each do |_, story|
      .story{:class => ("current" if story.short_url == active_story.short_url), :data => story.as_json}
        %a{:href=>"../#{story.short_url}/"}= story.title
        - if story.short_url == active_story.short_url
          %i.marker.fa.fa-leaf
        .bible_ref= story.bible_ref