---
title: Leigh McCulloch - Software Engineer (Payments)
---

<div class="header">
  <div class="item title"><i class="fa fa-leaf"></i><h1><%= I18n.t(:title) %></h1></div>
  <div class="item description"><h2><%= I18n.t(:description) %></h2></div>
  <div class="item language">EN</div>
</div>

<div class="search">
  <form onsubmit="return false;">
    <input class="query" type="text" value="" placeholder="story or character" />
    <i class="fa fa-search"></i>
  </form>
</div>

<div class="story-index">
  <div class="separator"><i class="fa fa-leaf"></i></div>
  <div class="story">The Creation</div>
  <div class="story">Adam and Eve</div>
  <div class="story">Cain and Abel</div>
  <div class="story">The Great Flood</div>
  <div class="story">The Tower of Babel</div>
</div>

<div class="footer">
</div>